body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select {
	margin: 0;
	padding: 0
}

body {
	font: 12px "宋体",arial,Simsun;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

em {
	font-style: normal
}

li {
	list-style: none;
}

img {
	border: 0;
	vertical-align: middle
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.clear {
	clear: both;
}

.clearfix {
	*zoom: 1;
	display: block;
}

.clearfix:after,.head:after,.main:after,.area:after,.shadow:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}